%h1 Customer Appeals:

%table
  %tr
    %th Name|
    %th E-mail|
    %th Issue Type|
    %th Title|
    %th Text|
    %th Status|
    %th Section|
  - @appeals.each do |a|
    %tr
      %td= a.name
      %td= a.email
      %td= a.issue_type
      %td= a.title
      %td= a.text

      - if current_user.admin?
        %td= a.status
        %td= a.section

      %td= link_to 'Edit', edit_appeal_path(a)