%p
  %strong Name:
  = @appeal.name

%p
  %strong E-mail:
  = @appeal.email

%p
  %strong Issue Type:
  = @appeal.issue_type

%p
  %strong Title:
  =@appeal.title
%p
  %strong Text:
  =@appeal.text

  =link_to 'new appeal', new_appeal_path
- if not current_user.user? == @appeal
  = link_to 'edit appeal', edit_appeal_path(@appeal)
%br
- if current_user.admin?
  %p
    %strong Status:
    =@appeal.status
  %br
  %p
    %strong Section:
    =@appeal.section
  %br
  = User.count
  = link_to 'Users:', users_path
  registered